# Microsoft Python Exam Preparation

### MCQ Set1: 20 Questions
---

**Q1 What Will Be The Output Of The Following Code Snippet?**

```python
a=[1,2,3,4,5,6,7,8,9]
print(a[::2])
```

1. [1,2] 
2. [8,9]
3. [1,3,5,7,9]
4. [1,2,3] 

>Answer: *3. [1,3,5,7,9]*

In [1]:
a=[1,2,3,4,5,6,7,8,9]
print(a[::2])

[1, 3, 5, 7, 9]

---
**Q2 Which of the following statements create a dictionary?**
1. d = {}
2. d = {'john':40, 'peter':45}
3. d = {40:'john', 45:'peter'}
4. All of the mentioned

>Answer: *4. All of the mentioned*

In [2]:
d1 = {}
d2 = {"john":40, "peter":45}
d3 = {40:"john", 45:"peter"}
print(type(d1),type(d2),type(d3))

<class 'dict'> <class 'dict'> <class 'dict'>

---
**Q3  Read the code shown below carefully and pick out the keys?**
```python
d = {"john":40, "peter":45}```

1. “john”, 40, 45, and “peter”
2. “john” and “peter”
3. 40 and 45
4. d = (40:”john”, 45:”peter”)

>Answer: *2. “john” and “peter”*

In [3]:
d = {"john":40, "peter":45}
d.keys()

dict_keys(['john', 'peter'])

---
**Q4 What Will Be The Output Of The Following Code Snippet?**
```python
a=[1,2,3,4,5]
print(a[3:0:-1])```

1. Syntax error
2. [4, 3, 2]
3. [4, 3]
4. [4, 3, 2, 1]

>Answer: *2. [4,3,2]*

In [4]:
a=[1,2,3,4,5]
print(a[3:0:-1])

[4, 3, 2]

---
**Q5 What Will Be TheOutput Of The Following Code Snippet?**
```python 
init_tuple_a = 'a', 'b'
init_tuple_b = ('a', 'b')
print (init_tuple_a == init_tuple_b)```

1. 0
2. 1
3. False
4. True

>Answer: *4. True*

In [5]:
init_tuple_a = 'a', 'b'
init_tuple_b = ('a', 'b')
print (init_tuple_a == init_tuple_b)

True

---
**Q6 What Will Be The Output Of The Following Code Snippet?**
```python
init_tuple_a = '1', '2'
init_tuple_b = ('3', '4')
print (init_tuple_a + init_tuple_b)```
1. (1, 2, 3, 4)
2. (‘1’, ‘2’, ‘3’, ‘4’)
3. [‘1’, ‘2’, ‘3’, ‘4’]
4. None

>Answer: *2. ('1','2','3','4')*

In [6]:
init_tuple_a = '1', '2'
init_tuple_b = ('3', '4')
print (init_tuple_a + init_tuple_b)

('1', '2', '3', '4')

---
**Q7 What Will Be The Output Of The Following Code Snippet?**
```python
init_tuple_a = 1, 2
init_tuple_b = (3, 4)
[print(sum(x)) for x in [init_tuple_a + init_tuple_b]]```
1. Nothing gets printed.
2. 4
3. 10
4. TypeError: unsupported operand type

>Answer: *3. 10*

In [7]:
init_tuple_a = 1, 2
init_tuple_b = (3, 4)
[print(sum(x)) for x in [init_tuple_a + init_tuple_b]]

10

[None]

---
**Q8 What will be the output?**
```python
d = {"john":40, "peter":45}
print(list(d.keys()))```
1. [“john”, “peter”]
2. [“john”:40, “peter”:45]
3. (“john”, “peter”)
4. (“john”:40, “peter”:45)
>Answer:*1. [“john”, “peter”]*

In [8]:
d = {"john":40, "peter":45}
print(list(d.keys()))

['john', 'peter']

---
**Q9 You have a list which contains ten elements. Which of the following uses of range() would produce a list of the indexes in the list?**
1. range(1,10)
2. range(10)
3. range(0,9)
4. range(1,9)

>Answer: *2. range(10)*

In [9]:
for i in range(10):
    print(i,end=';')

0;1;2;3;4;5;6;7;8;9;

---
**Q10 What is the output of the following?**
```python 
i = 2
while True:
    if i%3 == 0:
        break
    print(i)
    i += 2```

1. 2 4 6 8 10 
2. 2 4 
3. 2 3
4. error

>Answer: *2. 2 4*

In [10]:
i = 2
while True:
    if i%3 == 0:
        break
    print(i)
    i += 2

2
4

---
**Q11 What is the output of the following?**
```python
x = "abcdef"
i = "i"
while i in x:
    print(i, end=" ")```
    
1. no output 
2. i i i i i i ... 
3. a b c d e f 
4. abcdef

>Answer: *1. no output*

In [11]:
x = "abcdef"
i = "i"
while i in x:
    print(i, end=" ")

---
**Q12 What is the output of the following?**
```python
x = 'abcd'
for i in x:
    print(i.upper())```
1. a b c d 
2. A B C D 
3. a B C D 
4. error

>Answer: *2. A B C D*

In [12]:
x = 'abcd'
for i in x:
    print(i.upper())

A
B
C
D

---
**Q13 What is the output of the following code?**
```python
nums = set([1,1,2,3,3,3,4,4])
print(len(nums))```
1. 7
2. Error, invalid syntax for formation of set
3. 4
4. 8

>Answer: *3. 4*

In [13]:
nums = set([1,1,2,3,3,3,4,4])
print(len(nums))

4

---
**Q14 Which of the following statements is used to create an empty set?**
1. { }
2. set()
3. [ ]
4. ( )

>Answer: *2. set()*

In [14]:
x = {}
y = []
z = ()
m = set()
print(type(x),type(y),type(z),type(m))

<class 'dict'> <class 'list'> <class 'tuple'> <class 'set'>

---
**Q15  Suppose t = (1, 2, 4, 3), which of the following is incorrect?**
1. print(t[3])
2. t[3] = 45
3. print(max(t))
4. print(len(t))

>Answer: *2. t[3] = 45*

In [15]:
t = (1, 2, 4, 3)
t[3]=9

TypeError: 'tuple' object does not support item assignment

---
**Q16 What does the following code print to the console?**
```python
if False:
    print("Nissan")
elif True:
    print("Ford")
elif True:
    print("BMW")
else:
    print("Audi")```
    
1. Ford
2. Ford BMW
3. BMW
4. None Of The Above

>Answer: *1. Ford*

In [16]:
if False:
    print("Nissan")
elif True:
    print("Ford")
elif True:
    print("BMW")
else:
    print("Audi")

Ford

---
**Q17 Suppose list1 is [1, 3, 2], What is list1 * 2 ?**
1. [2, 6, 4] 
2. [1, 3, 2, 1, 3] 
3. [1, 3, 2, 1, 3, 2] 
4. [1, 3, 2, 3, 2, 1]

>Answer: *3. [1, 3, 2, 1, 3, 2]*

In [17]:
list1 = [1,3,2]
list1*2

[1, 3, 2, 1, 3, 2]

---
**Q18 What is the output when we execute list(“hello”)?**
1. [‘h’, ‘e’, ‘l’, ‘l’, ‘o’]
2. [‘hello’]
3. [‘llo’]
4. [‘olleh’]

>Answer: *1. [‘h’, ‘e’, ‘l’, ‘l’, ‘o’]*

In [18]:
list('hello')

['h', 'e', 'l', 'l', 'o']

---
**Q19 Suppose list1 is [2, 33, 222, 14, 25], What is list1[:-1] ?**
1. [2, 33, 222, 14]
2. Error
3. 25
4. [25, 14, 222, 33, 2]

>Answer: *1. [2, 33, 222, 14]*

In [19]:
list1 = [2, 33, 222, 14, 25]
list1[:-1]

[2, 33, 222, 14]

---
**Q-20 Suppose list1 is [4, 2, 2, 4, 5, 2, 1, 0], Which of the following is correct syntax for slicing operation ?**
1. print(list1[0])
2. print(list1[:2])
3. print(list1[:-2])
4. all of the mentioned
>Answer: *4. all of the mentioned*

In [20]:
list1 = [4, 2, 2, 4, 5, 2, 1, 0]
print(list1[0])
print(list1[:2])
print(list1[:-2])

4
[4, 2]
[4, 2, 2, 4, 5, 2]