In [1]:
#THIS IS CODE TO PRINT MYNAME THRICE
myname = "Hello World"
nextname = "Bye World" 
print((myname+',')*3,myname,nextname,sep=';',end='\t')
print(nextname)

#RANGE OF INTEGER
import sys
print(sys.maxsize)

Hello World,Hello World,Hello World,;Hello World;Bye World	Bye World
9223372036854775807

In [2]:
 '''
THIS CODE DOES FOLLOWING
1. Get details of Print function
2. Numbers in Python
'''

help(print)
print?

var = 56
print(var)
print(type(var),var)
type(var)  #DISCARDED BECAUSE THE LATER TYPE WAS PREFERRED 
var = "String"
print(var)
type(var)

#TYPE HAS MORE PRECENDENCE

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

56
<class 'int'> 56
String

str

In [3]:
'''
OPERATORS IN PYTHON

+ ADDITION
- SUBTRACTION
* MULTIPLICATION
/ DIVSION
// FLOOR DIVISION
** POWER
_  USED TO STORE RESULT OF LAST EXPRESSION
\ EXPANDS EXPRESION TO MULTI LINE
'''

print(2+(3*4)/(6**2)-7)
print(10/5) #DIVION OPERATOR ALWAYS RETURNS FLOAT 
print(10//5)
print(11/5)
print(43745**464)
sum = 1 + 2 + 3 + \
4 + 5 + 6 + 7 \
+ 8 + 9 + \
10
print(sum)
# ' / ' EXPANDS AN EXPRESSION TO MULTI LINE

4 + 5 + 1

-4.666666666666666
2.0
2
2.2
245916280917687720365942153982334234822300568725249239022434917026631706816717231586585799915606090424262774847037268222447650268463020086768284531202491301360259822526463114877171672233041787959557103667643387047893727993278676142726046445764556311852928796732686904519276507210028030222144551451693274101151746566580267464793186838424852802152630714100854013940068585353344907829228388900086030890810047122597667841043441990078890765295796178038441260159338694212854281664844977215457620623889680733375459470553594901613636646556173078349027119690115553308112755473971636084108562923831929815895577767692338447336570257391188106973187238065892247836869311644679181169411008094277812347922449974925877542864428007296869912190142943081431269503985087419347951882428740341011067966262562986693745521062309237974862803007401680252012911938127573418621034931367973383878787884013812100802223126859404294645109245093194955651788860954145494256756225012009148601120449485406262430152253883333434720348372798239968449696215793932122575974957480082540865667834363020350120332849594160504498822797610730136110374548638751432332705069169704788959401362440667891791077482923561174141384256301057716957996580502936936619609119390074191017873347475286668814538399802401605610695996573790034927000224308370185907904561230101951705978298421529218549065655835111997572117334228467615017255967496609181589183111728765222070896229782239376689437460807170121299789540512002580032675898611004804326874761771617278559663374575507822012070150616463590541963142309362310571832831430594788481392938716937960854202677138758543963393205761566837618224179656145821316325510059425904237504231562295131783131117810160376547423857997105415998450201953383579280031033833488291768437365307582284466793551858622677713173325454442711968809866173320913418485358145604353363232804442347930230742610790958092412505600619962250350139075268245382070729475570609402326460096022681487204341236819715028304342507308986749484883659193572822696744065327039128385644349662041641957849850981299357295461599520344369912144278374659244481292520569035636585617822513771812964478158392012119293212890625
55

10

In [4]:
var1 = 45 
var1 - _  # ' _ ' RETRIEVES THE RESULT OF PREVIOUS EXPRESSION FROM THE ABOVE CELL, i.e 10 from 35 - 25

35

In [5]:
'''
 S  T  R  I  N  G  S
 0  1  2  3  4  5  6
-7 -6 -5 -4 -3 -2 -1
'''

name = "PRANAV KHURANA"
st = "STRINGS"
print(name)
print(name[3])
print(name[2:5])
print(name[2:12:2])
print(name[-14:-1])
print(st[-6:-1:2])

PRANAV KHURANA
N
ANA
AA HR
PRANAV KHURAN
TIG

In [6]:
'''
STRING CONCATENATION 

+ --> left and right values must be string
, --> operands must not be string

ESCAPE SEQUENCE

\ -> used before writing special escape sequence chasracters ex \n \t \' etc'
r -> clears the special meaning of escape sequence characters, it does'nt works on in built escape sequences 
'''

str1 = "Myname"
str2 = "Yourname"
print(str1 + str2)
print(str1 + str2 + str(17))
print(str1 , str2)
print(str1 , str2 , 17)

print('I DIDN\'T DO THAT\\')
print("HE SAID, \"HELLO!\"")
print(r'I DIDN\'T DO THAT')
print(r"HE SAID, \"HELLO!\"")
print("C:\\ABC\\Temp\\newfile")

MynameYourname
MynameYourname17
Myname Yourname
Myname Yourname 17
I DIDN'T DO THAT\
HE SAID, "HELLO!"
I DIDN\'T DO THAT
HE SAID, \"HELLO!\"
C:\ABC\Temp\newfile

In [7]:
'''
SPECIAL STRINGS
'''
#'''THIS STRING WILL BE PRINTED AS IT IS 
      #FORMATING IS PRESEVED'''

str1 = '''
STRING1
       String2
              StRiNg3

''' 

print('''
usage : sudo mkdir
    sudo : super user do
    mkdir : make directory
''')
print(str1)

usage : sudo mkdir
    sudo : super user do
    mkdir : make directory


STRING1
       String2
              StRiNg3

In [8]:
'''
INPUT FUNCTION
'''

print(type(int(input("ENTER A NUMBER:"))))
print('HELLO ' + input("ENTER YOUR NAME: "))

ENTER A NUMBER:5
<class 'int'>
ENTER YOUR NAME: Pranav
HELLO Pranav

In [9]:
'''
CONDITIONAL STATEMENTS

-> if elif
'''

x = int(input("ENTER A NUMBER:"))
if 14+6 and 45 and x :
  print("SOMETHING TRUE!")
elif not 0 and (x + 1) :
  print("GOING FINE!")
else :
  print("ERROR IN 'x'")
  

v1 = int(input("ENTER A NUMBER:"))
v2 = int(input("ENTER A NUMBER:"))
v3 = int(input("ENTER A NUMBER:"))
v4 = int(input("ENTER A NUMBER:"))
v5 = int(input("ENTER A NUMBER:"))

l = 0

if v1>l:
  l = v1
if v2>l:
  l = v2
if v3>l:
  l = v3
if v4>l:
  l = v4
if v5>l:
  l = v5
print(l)

ENTER A NUMBER:78
SOMETHING TRUE!
ENTER A NUMBER:45
ENTER A NUMBER:8
ENTER A NUMBER:65
ENTER A NUMBER:6
ENTER A NUMBER:576
576

In [10]:
'''
ITERATIONAL STATEMENTS

-> FOR LOOP

'''


li = []
for i in range(int(input('ENTER NUMBER OF MEMBERS:'))):
  var1 = input('Enter name of member ' + str(i+1)+ ": ")
  print('Hello ' + var1 + '!')
  li.append(var1)
  for j in var1:
    print(j,end=' ')
  print()
  
for _ in li:
  print(_,end=';')
  
print()

print(list(range(-50,51,2)))

for _ in range(1,11):
  print('13 *',_,'=',_*13)

ENTER NUMBER OF MEMBERS:2
Enter name of member 1: Pranav
Hello Pranav!
P r a n a v
Enter name of member 2: Saurabh
Hello Saurabh!
S a u r a b h
Pranav;Saurabh;
[-50, -48, -46, -44, -42, -40, -38, -36, -34, -32, -30, -28, -26, -24, -22, -20, -18, -16, -14, -12, -10, -8, -6, -4, -2, 0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]
13 * 1 = 13
13 * 2 = 26
13 * 3 = 39
13 * 4 = 52
13 * 5 = 65
13 * 6 = 78
13 * 7 = 91
13 * 8 = 104
13 * 9 = 117
13 * 10 = 130